{% load staticfiles %}

<html>
   <head>
   	<link rel="stylesheet" href="{% static 'css/cover.css' %}">
  	<title>{{ person.first_name }} {{ person.last_name }}</title>
</head>
<body background="http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg">
  
  <header><a href="/admin/">Admin Site</a></header>
      
  <article>
    <div>
      <h1>{{ person.first_name }} {{ person.last_name }}</h1>
      
     <ul>
         <li>Profession: {{person.profession}} </li> 
         <li>Email: {{ person.email }}</li>
         <li>Cellphone Number: {{ person.cellphone }}</li>
         <li>Phone Number: {{person.phone}} </li>
         <li>Address: {{person.address}} - {{person.city}} </li>
         
          
    </ul>

    </div>

  </article>  
</body>
</html>

